@CHARSET "UTF-8";


html,body{
    height:100%;
    width:100%;
}

body{
     background-color:#33b56b;  
    }
    
.box{
    
    width:350px;
    height:350px;
    position:relative;
    top:200px;
    left:520px;
    display:inline-block;
    
    }
    
.box1{
    
     background: url('images.jpg') no-repeat center center;
     background-color:red;
    
}

.box2{
    
     background: url('download.jpg') no-repeat center center;
     background-color:red;
    
}

.box3{
    
     background: url('images.png') no-repeat center center;
     background-color:red;
    
}

.submit{
    
    width:60px;
    height:19.5px;
    position:absolute;
    font-size:15px;
    background-color:rgb(247, 0, 255);
    text-align:center;
    border-radius: 10%;
    display:inline-block;

    -webkit-animation-name: example; 
    -webkit-animation-duration: 15s; 
    animation-name: example;
    animation-duration: 15s;
}


@-webkit-keyframes example {
  from {background-color: rgb(247, 0, 255);}
  to {background-color: rgb(189, 5, 164);}
}

@keyframes example {
  from {background-color: rgb(247, 0, 255);}
  to {background-color: rgb(189, 5, 164);}
}




.randBox{

    font-size:14px;
    width: 55px;
    height: 16px;
    background-color: rgb(189, 5, 164);
    border-radius: 10%;
    text-align:center;

  position: relative;
  -webkit-animation-name: box; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: box;
  animation-duration: 30s;
  animation-delay: 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box {
  0%   { left:0px; top:0px;}
  25%  { left:400px; top:0px;}
  50%  { left:400px; top:400px;}
  75%  { left:0px; top:400px;}
  100% { left:0px; top:0px;}
}

/* Standard syntax */
@keyframes box {
  0%   { left:0px; top:0px;}
  25%  { left:400px; top:0px;}
  50%  { left:400px; top:400px;}
  75%  { left:0px; top:400px;}
  100% { left:0px; top:0px;}
}






/*-webkit-animation-name: example; 
    -webkit-animation-duration: 10s; 
    animation-name: example;
    animation-duration: 10s;
}

@-webkit-keyframes example {
  from {background-color: rgb(189, 5, 164);}
  to {background-color: rgb(35, 180, 216);}
}

@keyframes example {
  from {background-color: rgb(189, 5, 164);}
  to {background-color: rgb(35, 180, 216);}

}
